.super-mario{
  top: 150px;
  position: absolute;
  height: 100px;
  left:300px;


}

.goomba{
  top: 270px;
  position: absolute;
  height: 80px;
  left:300px;



}


.baloon{
  top: 65px;
  height: 100px;
  position: absolute;
  z-index: 1;
  left: 370px;


}
.word{
  top: 60px;
  height: 2em;
  width: 10px;
  left:400px;
  position: absolute;
  z-index: 2;

  

}

.bowser{
  top: 75px;
  height: 300px;
  position: absolute;
  left: 500px;
  


}

