.super-mario{
  position: absolute;
  height: 70px;
  left:20px;


}

.goomba{
  top: 150px;
  position: absolute;
  height: 70px;
  left:20px;



}

.word{
  top: 1000px;
  height: 70px;
  position: absolute;

  

}
.baloon{
  top: 1000px;
  height: 70px;
  position: absolute;


}

.bowser{
  top: 1000px;
  height: 70px;
  position: absolute;


}

