.super-mario{
  position: absolute;
  height: 70px;
  left:20px;


}

.goomba{
  top: 150px;
  position: absolute;
  height: 70px;
  left:20px;



}


.baloon{
  top: 250px;
  height: 100px;
  position: absolute;
  z-index: 1;


}
.word{
  top: 245px;
  width: 20px;
  left:40px;
  position: absolute;
  z-index: 2;

  

}

.bowser{
  top: 1000px;
  height: 70px;
  position: absolute;


}

